<div class="title">
    <h2 class="text-center">Orders Details</h2>
</div>

<div class="container">
    <div class="row container m-5" *ngIf="id">
        <div class="column details">
            <div class="row detail">
                <div class="title">Order Id: </div>
                <div class="data">{{order?.id}}</div>
            </div>
            <div class="row detail">
                <div class="title">Order Date: </div>
                <div class="data">{{order?.orderedDate}}</div>
            </div>
            <div class="row detail">
                <div class="title">Pickup Date: </div>
                <div class="data">{{order?.pickUpDate}}</div>
            </div>
            <div class="row detail">
                <div class="title">Status: </div>
                <div class="data">{{order?.orderstatus | uppercase}}</div>
            </div>
        </div>
        <div class="column order-items-table w-50">
            <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item?.itemname }}
                  </td>
                </ng-container>
        
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let item">
                      {{ item?.quantity }}
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
</div>